Source: stsbl-iserv-repo-mon
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/documentation/general/update-mode

Package: stsbl-iserv-repo-mon
Architecture: all
Depends: iserv-portal,
         stsbl-iserv-perl-lib,
         stsbl-iserv3-maintenance,
         stsbl-repoconfig (>= 19.04.03),
         ${misc:Depends},
         ${perl:Depends}
Conflicts: stsbl-iserv3-repo-mon
Replaces: stsbl-iserv3-repo-mon
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: Stadtteilschule Blankenese: Repository-Statusmonitor
 Zeigt den Status der Repository-Konfiguration auf dem IDesk an.
Tag: suite::iserv:portal, role::plugin, implemented-in::php
